body{
    margin: 0;
    display: block;
    line-height: 1.15;
}

header{
    width: 1280px;
    height: 120px;
    margin: auto;
    background-color: #F5B003;
    /*display: flex;
    justify-content: center;*/
}

.logo{
    width: 220px;
    height: 100px;
    margin-left: 110px;
    margin-top: 10px;
    float: left;
}

.bar{
    margin-right: 100px;
    margin-top: 40px;
    float: right;
}

.fb{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.moreItems{
    width: 40px;
    height: 40px;
}

.mainDomain{
    width: 1280px;
    height: 1245px;
    margin: auto;
    background-color: rgb(238, 240, 229);
}

.mainImg{
    width: 1280px;
    height: 200px;
}

.findShopTitle{
    font-family: Microsoft JhengHei;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.mainLine{
    color: #000000;
    size: 5px;
    width: 900px;
}

.list{
    width: 1280px;
    height: 120px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.shopInfo{
    width: 350px;
    height: 110px;
    display: block;
}

.shopName{
    font-family: Microsoft JhengHei;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.discription{
    font-family: Microsoft JhengHei;
    font-size: 16px;
    line-height: 28px;
}

.endLine{
    border: 1px dashed black;
    width: 380px;
}

footer{
    width: 1280px;
    height: 240px;
    margin: auto;
    background-color: #F5B003;
}

.hrefs{
    margin-left: 70px;
    display: flex;
}

.hrefs p{
    width: 80px;
    height: 23px;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.member{
    margin-left: 80px;
}

.info{
    width: 1140px;
    height: 100px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.info p{
    font-family: Microsoft JhengHei;
    font-size: 20px;
    line-height: 24px;
}

.blank{
    width: 1280px;
    height: 40px;
    background-color: #FFFFFF;
    margin: auto;
}

.blank p{
    margin-left:445px;
    margin-top:12px;
}